@font-face {
	font-family: 10177;
	font-display: swap;
	src: url("../fonts/10177.woff2") format("woff2"), url("../fonts/10177.woff") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff2");
	font-weight: 800;
	font-style: normal;
}
